<div class="px-6 py-8 mx-auto w-500 lg:py-0 rounded-lg text-center">
  <div class="bg-white  rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 text-left min-h-50 mb-4">
    <% if current_user.is_admin || current_user.is_reseller %>
      <%= search_form_for @q do |f| %>
        <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
          <div class="w-full md:w-1/2">
            <div class="flex items-center">
              <label for="simple-search" class="sr-only">Search</label>
              <div class="relative w-full">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                  <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                  </svg>
                </div>
                <%= f.search_field :name_cont,
                     placeholder:"Search File...",class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
              </div>
              <div class="relative w-full ml-3">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                  <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                  </svg>
                </div>
                <%= f.select :user_id_eq,
                    options_from_collection_for_select(@users.where(is_admin: false).order(:company), "id", "company", @q.user_id_eq), {:include_blank => "-- All Users --" }, {class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", onchange: 'this.form.submit()'} %>
              </div>
            </div>
          </div>
          <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
            <button type="submit" class="flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
              <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
              </svg>
              Search
            </button>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 border-b dark:border-gray-700">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="py-3 px-6">
              File
            </th>
            <th scope="col" class="py-3 px-6">
              User
            </th>
            <th scope="col" class="py-3 px-6">
              Data Set 
            </th>
            <th scope="col" class="py-3 px-6">
              Rows
            </th>
            <th scope="col" class="py-3 px-6">
              Good
            </th>
            <th scope="col" class="py-3 px-6">
              Bad
            </th>
            <th scope="col" class="py-3 px-6">
              Time
            </th>
            <th scope="col" class="py-3 px-6">
              Date
            </th>
            <th scope="col" class="py-3 px-6">
              Status
            </th>
            <th scope="col" class="py-3 px-6">
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |result|%>
            <tr class="bg-white dark:bg-gray-800 dark:border-gray-700 text-xs">
              <th scope="row" class="py-2 px-4 font-medium text-gray-900 whitespace-nowrap dark:text-white border-r">
                <%= result.name.truncate(30 , separator: '...') %>
              </th>
              <td class="py-2 px-4 border-r">
                <%= result.user.company.truncate(20 , separator: '...')  %>
              </td>
              <td class="py-2 px-4 border-r">
                <%= dataset_name(result.dataset)  %>
              </td>
              <td class="py-2 px-4 border-r text-teal-600">
                <%= number_with_delimiter(result.rows) %>
              </td>
              <td class="py-2 px-4 border-r text-green-600">
                <%= number_with_delimiter(result.good_rows) || "-" %>
              </td>
              <td class="py-2 px-4 border-r text-red-600">
                <%= number_with_delimiter(result.bad_rows) || "-" %>
              </td>
              <td class="py-2 px-4 border-r">
                <% if result.job_status != 'processing' %>
                  <%= number_with_precision(result.finished_at - result.created_at, :precision => 3) %>
                <% else %>
                  -
                <% end %>
              </td>
              <td class="py-2 px-4 border-r">
                <%= result.created_at.strftime("%F")  %>
              </td>
              <td class="py-2 px-4 border-r text-center">
                <% if result.job_status == "processing" %>
                  <div role="status">
                    <svg aria-hidden="true" class="w-6 h-6 mx-auto text-center text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                      <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                    </svg>
                    <span class="sr-only">Loading...</span>
                    <script>
                      setTimeout(function(){
                        window.location.reload()
                      },5000)
                    </script>
                  </div>
                <% end %>
                <% if result.job_status == "failed" %>
                  <svg class="w-5 h-5 text-red-600 mx-auto text-center" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                <% end %>
                <% if result.job_status == "finished" %>
                  <svg class="w-5 h-5 mx-auto text-green stroke-green-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                <% end %>
              </td>
              <td class="py-2 px-4 mx-auto text-center">
                <% if result.job_status == "finished" %>
                  <button onclick="navigator.clipboard.writeText('https://blocks.scrublists.com<%= rails_blob_path(result.good_file)%>')" data-tooltip-target="tooltip-default" class="inline-flex items-center text-sm font-medium text-center text-blue-500 hover:text-gray-900 focus:outline-none dark:hover:text-white dark:text-gray-400" type="button">
                    <div id="tooltip-default" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                      Copy Link
                      <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75" />
                    </svg>
                  </button>
                <% end %>
                <button data-tooltip-target="tooltip-download" id="dropdownMenuIconButton" data-dropdown-toggle="dropdownDots-<%= result.id %>"  class="inline-flex items-center text-sm font-medium text-center text-gray-500 hover:text-gray-900 focus:outline-none dark:hover:text-white dark:text-gray-400" type="button">
                  <svg class="w-5 h-5 mx-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path></svg>
                  <div id="tooltip-download" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                    Download
                    <div class="tooltip-arrow" data-popper-arrow></div>
                  </div>
                </button>
                <!-- Dropdown menu -->
                <div id="dropdownDots-<%= result.id %>" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 text-left">
                  <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconButton">
                    <% if result.job_status == 'finished' %>
                      <li>
                        <%# <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Good</a> %>
                        <%= link_to 'Good', rails_blob_path(result.good_file, disposition: 'attachment'), class: "block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
                      </li>
                      <li>
                        <%= link_to 'Bad', rails_blob_path(result.bad_file, disposition: 'attachment'), class: "block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4 text-xs" aria-label="Table navigation">
      <span class="text-sm font-normal text-gray-500 dark:text-gray-400 text-xs">
        Showing
        <span class="font-semibold text-gray-900 dark:text-white text-xs">
          <select id="pagesize" class="pagesize g-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-primary-500 focus:border-primary-500">
            <% PAGE_SIZES.each do |size| %>
              <option value="<%= url_for(per_page: size)%>" <%= 'selected' if params[:per_page].to_i == size %>><%= size %></option>
              <% end %>
            </select>
          </span>
          of
          <span class="font-semibold text-gray-900 dark:text-white text-xs"><%= @q.result.count %></span>
        </span>
        <ul class="inline-flex items-stretch -space-x-px text-xs">
          <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
        </ul>
      </nav>
    </div>
  </div>
  <script>
    const selectElement = document.querySelector('.pagesize');

    selectElement.addEventListener('change', function() {
      const selectedOptionValue = selectElement.options[selectElement.selectedIndex].value;
      window.location.href = selectedOptionValue;
    });
  </script>
