<div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
  <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
    Update User
  </h3>
  <% if current_user.id != @user.id %>
    <%= link_to "Login As User", impersonate_user_path(@user), method: :post, :class => "text-white bg-teal-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-2 text-sm py-2 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 disabled:opacity-75", data: {disable_with: "Please wait..."} %>
  <% end %>
</div>
<%= simple_form_for([:admin, @user], html: { autocomplete: 'none' } ) do |f| %>
  <div class="grid gap-6 mb-4 sm:grid-cols-2">
    <div class="grid gap-4">
      <%= f.input :name, input_html: { autocomplete: 'new-password', role: 'presentation' } %>
      <%= f.input :company, input_html: { autocomplete: 'new-password', role: 'presentation' } %>
    </div>
    <div>
      <%= f.input :email, input_html: { readonly: @user.new_record? ? false : true} %>
    </div>
    <div>
      <%= f.input :password, input_html: { autocomplete: 'new-password', role: 'presentation' } %>
    </div>
    <div>
      <%= f.input :password_confirmation, input_html: { autocomplete: 'new-password', role: 'presentation' } %>
    </div>
    <%= f.input :is_active, as: :select, collection: [['Active',true], ['Disabled',false]], label: 'Active Status', include_blank: false %>
    <%= f.input :datasets, include_blank: false, :collection => [["Global Block", 'master'],['Global Block + IPES', 'masteripes'],['Global Block + Verizon + IPES','masterverizon'],['Verizon + IPES','verizon'],['IPES','ipes'], ['DNC','dnc']], input_html: { multiple: true }  %>
    <% if current_user.is_admin %>
      <div>
        <%= f.input :is_reseller, label: 'Type Reseller'  %>
      </div>
    <% end %>
  </div>
  <button type="submit" class=" text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 disabled:opacity-75">Update</button>
  <button type="button" onclick="window.location.href='/admin/users'" class="text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 disabled:opacity-75">Back</button>
<% end %>
