<div class="px-6 py-8 mx-auto w-500 lg:py-0">
  <div class="p-1 bg-white  rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 text-left min-h-50">
    <div class="relative">
      <table class="w-full text-xs text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="py-3 px-6">
              Name
            </th>
            <th scope="col" class="py-3 px-6">
              Company
            </th>
            <th scope="col" class="py-3 px-6">
              Email
            </th>
            <th scope="col" class="py-3 px-6">
              Active
            </th>
            <th scope="col" class="py-3 px-6">
              Date
            </th>
            <th scope="col" class="py-3 px-6">
            </th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="py-2 px-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <%= user.name %>
              </th>
              <th scope="row" class="py-2 px-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <%= user.company %>
              </th>
              <td class="py-2 px-4">
                <%= user.email %>
              </td>
              <td class="py-2 px-4 text-center">
                <% if user.is_active? %>
                  <svg class="w-5 h-5 text-green-500 text-center inline-flex items-center" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <% else %>
                  <svg class="w-5 h-5 text-red-500 text-center inline-flex items-center" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <% end %>
              </td>
              <td class="py-2 px-4">
                <%= user.created_at.strftime("%F") %>
              </td>
              <td class="py-2 px-4 text-center">
                <a href="<%= edit_admin_user_path(user) %>" class="inline-flex items-center hover:text-blue-700">
                  <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
                </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
